.product-column {
    padding: 2% 2% !important;
}

.product-form-input {
    width: 73% !important;
    float: right;
}

.close {
    display: none;
}

.product-tabs {
    border: none !important;
}

.product-tab {
    margin-right: 10px;
    border-radius: .25rem;
    color: white;
}

.product-tab:hover {
    color: white;
}

.product-card-body {
    padding: 0 1.25rem 0 0 !important;
}